:root{
    --main-background-color:#5B99C2;
    --primaryBackgroundcolor : "#222",
    
}
*{
   
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}
body{
    background-color: var();
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.main_Card{
    background-color:var(--main-background-color);
    height: 100%;
    margin-left: 27rem;
    text-align: center;
    color: #fff;
    padding: 40px 35px;
    border-radius: 20px;
}
.inp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: #ebfffc;
    padding: 10px 25px;
    border-radius: 30px;

   
}
.inp input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    font-size: 18px;
    flex: 1;
    color: #555;
}
#inp1{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50% ;
    cursor:pointer; 
    
}  

#search-id{
    width: 30px;
    padding: auto;
    
}
.inp button img{
    width: 16px;
    
    
}
.weather_icon{
    width: 170px;
    
}

.weather,h1{
   font-size: 80px;
    font-weight: 500;
}

.weather,h2{
    
    font-size: 45px;
    font-weight: 400;
  
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top:50px
  
    
}
.temp{
    margin-top: 0rem;
    padding-top: 0rem;
    margin-bottom: 1rem;

}
.city{
    margin-top: 0rem;
    padding-top: 0rem;
}

.col{
    display: flex;
    align-items:center ;
    text-align: center;
    padding-right: 10px
}

.col img{
    width: 40px; 
    margin-left: 10px;
    align-items: center;
    
}
.humidity,.wind{
    font-size: 20px;
    margin-top:-6px;
    
}

